<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="login-style.css">



</head>
    <body>
        <header>
            <nav class="navbar">
                <a href="#" class="logo">
                    <img src="../images/logo.jpg" alt="logo">
                    <h2>Community Connect</h2>
                </a>
            </nav>
        </header>
        <div class="form-container">
            <div class="form-box signup">
                <div class="form-details">
                    <h2>Create Account</h2>
                    <p>To become a part of our community, please sign up using your personal information.</p>
                </div>
                <div class="form-content">
                    <h2>SIGNUP</h2>

                <!-- Display error message if it exists -->
                <% if (error) { %>
                    <p style="color: red;"><%= error %></p>
                <% } %>

                    <form action="/signup" method="post" onsubmit="return validatePasswords()">
                        <div class="input-field">
                            <input type="email" name="email" required>
                            <label>Enter your email</label>
                        </div>
                        <div class="input-field">
                            <input type="Password" name="password" required>
                            <label>Password</label>
                        </div>
                        <div class="input-field">
                            <input type="password" name="confirmpassword" required>
                            <label>Confirm password</label>
                        </div>
                        <div class="policy-text">
                            <input type="checkbox" id="policy" required>
                            <label for="policy">
                                I agree to the
                                <a href="#" class="option">Terms & Conditions</a>
                            </label>
                        </div>
                        <button type="submit">Sign Up</button>
                    </form>
                    <div class="bottom-link">
                        Already have an account? 
                        <a href="/login" id="login-link">Login</a>
                    </div>
                </div>
            </div>
        </div>
    
        <footer>
            <p>&copy; 2024 Community Connect. All rights reserved.</p>
        </footer>
    </body>
</html>
